{% extends 'registers/layout.html' %}
{% block body %}

<h2 style="color:Peru;">{{student_info}}</h>

    <h2 style="color:SaddleBrown;"><u class="spelling-error"><center>Enrollment Result</center></u></h2>
    <table id="customers">
        <tr>
            <th style="font-size:125%;"><center> Course Code </center></th>
            <th style="font-size:125%;"><center> Course Name </center></th>
            <th style="font-size:125%;"><center> Semester </center></th>
            <th style="font-size:125%;"><center> Year </center></th>
            <th style="font-size:125%;"><center> Quantity(remain/limit) </center></th>
            <th style="font-size:125%;"><center> Status </center></th>     
        </tr>
        {%for apply in course_apply %}
        <tr>
            <td>{{apply.course.course_id}}</td>
            <td>{{apply.course.course_name}}</td>
            <td>{{apply.course.semester}}</td>
            <td>{{apply.course.year}}</td>
            <td>{{apply.course.current_seat}} / {{apply.course.seat}}</td>
            <td>{{apply.course.q_status}}</td>     
        </tr>
        {% endfor %}
    </table>
<h2></h2>
<center>
<a href="{% url 'users:login' %}">Log out</a>
</center>
{% endblock %}